@import url('https://fonts.googleapis.com/css?family=Alegreya:700&display=swap');
@font-face {
  font-family: 'blackwood_castle';
  src: url('../fonts/blackwood_castle-webfont.eot');
  src: url('../fonts/blackwood_castle-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/blackwood_castle-webfont.woff2') format('woff2'),
       url('../fonts/blackwood_castle-webfont.woff') format('woff'),
       url('../fonts/blackwood_castle-webfont.ttf') format('truetype'),
       url('../fonts/blackwood_castle-webfont.svg#blackwood_castleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  min-height: 100%;
}
body {
  text-align: center;
  background-image: url('../img/bg.jpg?');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: inset 0 0 20vw 10vw rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font: normal 100%/1.67 'Alegreya', Georgia, 'Times New Roman', Times, sans-serif;
  color: #bbb;
}
h1 {
  font-family: 'blackwood_castle', serif;
  font-size: 4rem;
  letter-spacing: -.025em;
  color: #FFCC00;
}
h3 {
  display: block;
  padding: .125em 0;
  font-family: 'Alegreya', Georgia, 'Times New Roman', Times, sans-serif;
  font-size: .75rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-bottom: 1px solid #444;
}
p {
  margin-top: 1em;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #000;
  box-shadow: 0 0 5rem 2.5rem #000;
}
