@font-face {
  font-family: 'bwc';
  src: url("https://tosbot.github.io/assets/fonts/bwc.eot");
  font-weight: normal;
  font-style: normal; 
}
body {
  padding: 0;
  margin: 0;
}
.bwc {
  font-family: 'bwc';
  color: #FFCC00;
}
